/**
 * 
 * @authors ZHY
 * @date 2015-08-14
 */    

/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, button, textarea, p, blockquote, th, td ,header, section, aside, nav, menu, hgroup, audio, video, figure, figcaption, footer, article{ margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
em { font-style:normal; }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, th, var, optgroup { font-style:inherit; font-weight:inherit; }
del, ins { text-decoration:none; }
li { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%;}
q:before, q:after { content:''; }
abbr, acronym { border:0; font-variant:normal;}
sup { vertical-align:baseline; }
sub { vertical-align:baseline; }
body,input, button, textarea, select {*font-size:100%;outline:none; }
textarea { resize: none; outline:none; }
i,cite{font-style:normal;} 
.clearfix {  zoom:1; }
.clearfix:after { content:""; display:block;clear:both;height: 0;visibility: hidden;}
a {text-decoration:none; }
a:hover{text-decoration:underline}  
a:focus{outline: none;}    
.hide{display:none} .fr{float:right} .fl{float:left;}.block{display: block;}
.bold{font-weight: bold;} .center{text-align:center} .auto{margin-left:auto;margin-right:auto}
.modal{position:absolute;top:50%;left:50%;-webkit-transform: translateX(-50%) translateY(-50%);-moz-transform: translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);}

html{font-size:20px;}
html,body{-webkit-touch-callout:none;}
@media only screen and (max-width: 360px) and (min-width: 321px){ 
    html{font-size: 22.5px} 
} 
@media only screen and (max-width: 375px) and (min-width: 361px){
    html{font-size: 23.4px}
}
@media only screen and (max-width: 390px) and (min-width: 376px){
    html{font-size: 24px;}
}
@media only screen and (max-width: 416px) and (min-width: 391px){/*iphone6 plus*/
    html{font-size: 25.9px;}
}

/**/
a,a:hover,body{color:#333;}
body{font:normal 18px/1.5 'helvetica neue','hiragino sans gb','Microsoft YaHei',arial,tahoma,sans-serif;background-color: #fff;}

body{
  -webkit-backface-visibility:hidden;
  background:#000;
}
/*===============================SPA:ui-page ===============================*/
.ui-section{position:relative;margin:0 auto; }
.ui-page{width:100%;overflow:hidden;position:relative;display:none;min-height: 30rem;}
.Jpageshow{-webkit-animation:pageshow .5s ease;display:block;}
@-webkit-keyframes pageshow{
    0%{ opacity: 0}
}
.ui-page-index{background-color: red;}
.ui-page-result{background-color: black;}


/*===========================pageLoading 页面加载动画=========================*/
.ui-pageloading{position:fixed;background-color:#ff474e;width:100%;height:100%;left:0;top:0;z-index:9999;}
.pageloading-inner {width:2.6rem;height:2.6rem;position: absolute;left:50%;top:50%;margin:-1.8rem 0 0 -1.3rem;}
.pageloading-inner .double-bounce1,.pageloading-inner .double-bounce2 {width: 100%;height: 100%;border-radius: 50%;background-color: #fff;opacity: 0.3;position: absolute;top: 0;left: 0; 
  -webkit-animation: bounce 2.0s infinite ease-in-out;
}
.pageloading-inner .double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.pageloading-text{
  /*-webkit-animation:loadText 1s ease infinite;*/
  width:100%;
  position:absolute;
  text-align:center;
  top:50%;
  margin-top:1.2rem;
  font-size:.65rem;
  color:rgba(0,0,0,0.4);
}
.pageloading-text em{
  font-weight:700;
  margin:0 .1rem;
}
@-webkit-keyframes loadText{
  0%{ opacity:0.5;}
  50%{ opacity:0.3;}
  100%{ opacity:0.5;}
}
.pageloading-inner .spinner {
  width: 2.6rem;
  height: 2.6rem;
  background-color:rgba(0,0,0,0.3);
  margin:0 auto;
  border-radius:.2rem;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  -webkit-transform:translateZ(0);
  z-index:111;
  position:relative;
}
@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(5rem) rotateY(0deg) rotateX(0deg) }
  50% { -webkit-transform: perspective(5rem) rotateY(180deg) rotateX(0deg)}
  100% { -webkit-transform: perspective(5rem) rotateY(180deg)  rotateX(180deg) }
}


/*===========================菊花动画=========================*/
.ui-loading{position:fixed;left:0;top:0;right:0;bottom:0;z-index:9999;display: none;}
.ui-loading-inner{background:rgba(0,0,0,0.7);width:4.2rem;height:4.2rem;display:block;border-radius:.5rem;position:absolute;left:50%;top:50%;margin:-2rem 0 0 -2rem;overflow:hidden;}
.ui-loading-img{width:2.2rem;display:block;margin:.5rem auto 0.1rem;}
.ui-loading-txt{font-size:.6rem;text-align:center;color:#ccc;padding-top:.25rem;}




/* ===============================分享模块=====================================*/
/* 分享提示、按钮*/
.ui-sharemask{background:url(../images/config/sharemask.png?3) no-repeat rgba(0,0,0,0.8);background-size:100% auto;position:fixed; right:0; bottom:0; top:0;left:0;display:none;z-index:333;}
.share-inclient-wrap{position: absolute;z-index: -1;}
.share-inclient-mask{position: fixed;display:none;width: 100%;height: 100%;top:0;left:0;z-index: 9;background-color:rgba(0,0,0,0.8); }
.share-inclient-inner{background:#353335;width:100%;height:6.5rem;bottom:0;left:0;position:fixed;-webkit-transform:translateY(6.5rem);z-index: 11;}
.share-inclient-title{text-align:center;color:#fff;font-size:.7rem;font-weight:500;line-height:1.5;margin:.5rem 0 .4rem;}
.share-inclient-list{width:100%;margin:0 auto;text-align: center;}
.share-inclient-item{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
  width:3rem;display: inline-block;font-size: .6rem;color:#fff!important; text-decoration:none!important; text-align: center;;}
.icon-share{display: block;width: 2rem;height: 2.1rem;margin:.3rem auto;background: url(../images/config/shareicon.png) no-repeat;background-size: 2rem;}
.icon-share-weixin{background-position: 0 -2.75rem;}
.icon-share-qqzone{background-position: 0 -5.6rem;}
.icon-share-sina{background-position: 0 -8.45rem;}
.Jshow{z-index: 999;}
.Jshow .share-inclient-mask{display: block;}
.Jshow .share-inclient-inner{display: block;-webkit-transform:translateY(0);-webkit-transition:.5s;}


/* ===============================弹窗提示=====================================*/
.dialog{
  width: 100%;
  height: 100%;
  top:0;
  position:fixed;
  text-align: center;
  z-index: 999;
  background-color: rgba(0,0,0,.5);
  
}
.dialog-content{
  position: fixed;
  top:50%;
  left:50%;
  min-width: 10rem;
  padding: .5rem 0;
  background-color: #fff;
  color: #333;
  font-size: .7rem;
  border-radius: .3rem;
  -webkit-transform:translate(-50%,-50%) scale(0);
  box-sizing:border-box;
}
.dialog-show .dialog-content{
  -webkit-animation-name:ani-show;
}
.dialog-hide .dialog-content{
  -webkit-animation-name:ani-hide;
}
.dialog-show .dialog-content,.dialog-hide .dialog-content{
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes ani-show {
  0% { opacity: 0; -webkit-transform:translate(-50%,-50%) scale3d(1.1, 1.1, 1); }
  100% { opacity: 1; -webkit-transform:translate(-50%,-50%) scale3d(1, 1, 1); }
}
@-webkit-keyframes ani-hide {
  0% { opacity: 1; }
  100% { opacity: 0; -webkit-transform:translate(-50%,-50%) scale3d(0.9, 0.9, 1); }
}



/*SPA custom style */
.ui-page{
  background:url(../images/body.png?1) no-repeat;
  background-size:100% auto;
}
.ui-page-result{
  background:url(../images/result.png?1) no-repeat;
  background-size:100% auto;
}
.sprite{
  background:url(../images/sprite.png?1) no-repeat;
  background-size:100% auto;
}
.m-logo{
  -webkit-animation:logo .8s ease;
  background-position:0 -19.5rem;
  width:100%;
  height:5.05rem;
  font-size:0;
  top:1.6rem;
  position:absolute;
  -webkit-backface-visibility:hidden;
  -webkit-transform:translateZ(0);
}
@-webkit-keyframes logo{
  0%{ opacity:0; -webkit-transform: scale(0);}
  20%{ opacity:0; -webkit-transform: scale(0);}
  100%{ opacity:1; -webkit-transform:scale(1);}
}
.m-heading{
  background-position:0 -25.5rem;
  -webkit-animation:heading 1s ease-out;
  width:100%;
  height:1.35rem;
  font-size:0;
  top:6.1rem;
  position:absolute;
  -webkit-backface-visibility:hidden;
}
@-webkit-keyframes heading{
  0%{ opacity:0; -webkit-transform: scale(0);}
  40%{ opacity:0; -webkit-transform: scale(0);}
  78%{ opacity:1; -webkit-transform: scale(1);}
  90%{ opacity:1; -webkit-transform: scale(0.97);}
  100%{ opacity:1; -webkit-transform: scale(1);}
}


.m-figure{
  -webkit-animation:figure 1s ease;
  -webkit-transform-origin:3rem 0;
  background-position:0 -6rem;
  width:100%;
  height:13.1rem;
  font-size:0;
  top:7.65rem;
  position:absolute;
  -webkit-backface-visibility:hidden;
}
@-webkit-keyframes figure{
  0%{ opacity:0; }
  30%{ opacity:0; -webkit-transform:rotate(10deg) ;}
  80%{ opacity:1; -webkit-transform:rotate(-0.8deg);}
  100%{ opacity:1; -webkit-transform:rotate(0deg);}
}

.m-tips{
  -webkit-animation:tips 1.3s ease;
  width:100%;
  height:.65rem;
  font-size:0;
  top:20rem;
  position:absolute;
}



.m-start,.m-restart,.m-share{
  background:url(../images/btns.png?1) no-repeat;
  background-size:100% auto;
  width:8rem;
  height:2.55rem;
  font-size:0;
  top:21.2rem;
  position:absolute;
  left:50%;
  margin-left:-4rem;
}
.m-start{
  -webkit-animation:tips 1.7s ease;
} 
@-webkit-keyframes tips{
  0%{ opacity:0; -webkit-transform:translateY(.5rem);}
  40%{ opacity:0; -webkit-transform:translateY(.5rem) scale(0.95);}
}

.m-share{
  background-position:0 -6rem;
  top:22.4rem;
}

.m-playheading{
  background-position:0 -1.7rem;
  height:2.75rem;
  font-size:0;
  margin:1.6rem 0 .3rem;
} 

.m-cover-box{
  background:#000;
  width:8.5rem;
  height:9.6rem;
  border:#fff 2px solid;
  margin:0 auto;
  overflow:hidden;
}
.m-cover-list{
  -webkit-transition:-webkit-transform .4s ease;
  -webkit-backface-visibility:hidden;
  -webkit-transform:translateZ(0);
  width:255rem;
}
.m-cover-list li{
  background:#eee;
  width:8.5rem;
  height:9.6rem;
  float:left;
  position:relative;
}
.m-cover-list li:after{
  content:"美图手机自拍照";
  background:#fc4ec0;
  width:4.65rem;
  height:1.2rem;
  line-height:1.2rem;
  text-align:center;
  color:#fff;
  font-size:.55rem;
  position:absolute;
  left:0;
  bottom:0;
}
.m-cover-list img{
  width:100%;
  display:block;
}
.fadeOut{
  -webkit-transition:opacity .6s ease .2s;
  opacity:0.3;
}

.m-select-box{
  margin-top:0.4rem;
  position:relative;
}
.m-select-list{
  -webkit-transform:translateZ(0);
  -webkit-backface-visibility:hidden;
  background:#ffc750;
  width:13rem;
  height:9.2rem;
  position:absolute;
  left:50%;
  margin-left:-6.5rem;
  display:none;
  border-radius:.15rem;
  overflow:hidden;
}
.m-select-list .mis{
  line-height:2.3rem;
  text-align:center;
  font-size:1.2rem;
  color:#132879;
  font-weight:700;
  padding-left:.15rem;
}
.m-select-list li{
  width:33.33333%;
  height:4.6rem;
  float:left;
  overflow:hidden;
  padding:.1rem;
  box-sizing:border-box;
  position:relative;
}
.m-select-list li:nth-child(1){
  background:url(../images/mission.png?1) no-repeat;
  background-size:100% auto;
}
.m-select-list li:nth-child(3n){
  width:33.33334%;
}
/*
.m-select-list li:nth-child(1),
.m-select-list li:nth-child(2),
.m-select-list li:nth-child(3){
  padding-top:0;
}
.m-select-list li:nth-child(4),
.m-select-list li:nth-child(5),
.m-select-list li:nth-child(6){
  padding-bottom:0;
}
.m-select-list li:nth-child(1),
.m-select-list li:nth-child(4){
  padding-left:0;
}
.m-select-list li:nth-child(3),
.m-select-list li:nth-child(6){
  padding-right:0;
}*/
.m-select-list .img{
  background:#eee;
  width:100%;
  height:100%;
  box-sizing:border-box;
  border:#fff .1rem solid;
  overflow:hidden;
}
.m-select-list img{
  display:block;
  width:100%;
}

.J_selectEnter{
  display:block;
  -webkit-animation:selectEnter .7s cubic-bezier(.67,-0.38,.33,.95);
}
@-webkit-keyframes selectEnter{
  0%{ -webkit-transform:translateX(16rem);}
}
.J_selectLeave{
  display:block;
  -webkit-animation:selectLeave .7s cubic-bezier(.67,-0.38,.33,.95) forwards;
}
@-webkit-keyframes selectLeave{
  100%{ -webkit-transform:translateX(-16rem);}
}
.J_selectEnter:first-child{
  -webkit-animation:none;
}

.m-failmask{
  background:rgba(0,0,0,0.7);
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index:111;
  display:none;
}
.m-restart{
  background-position:0 -3rem;
  -webkit-animation:none;
  top:16rem;
}
.m-failmask .m-share{
  top:19.1rem;
}

.show{
  -webkit-animation:show .5s ease;
  display:block;
}
@-webkit-keyframes show{
  0%{ opacity:0;}
}


.m-timer{
  background:url(../images/clock.png?1) no-repeat;
  background-size:100% auto;
  width:1.9rem;
  height:2.4rem;
  position:absolute;
  right:1.3rem;
  top:12.3rem;
  text-align:center;
  line-height:2.4rem;
  color:#132879;
  font-size:.8rem;
  font-weight:700;
}
.m-true,
.m-false{
  background:url(../images/select.png?1) no-repeat;
  background-size:100% auto;
  width:2rem;
  height:2rem;
  position:absolute;
  left:50%;
  top:50%;
  margin:-1rem 0 0 -1rem;
}
.m-true{
  background-position:0 -2.5rem;
}
.preload{
  position:absolute; opacity:0;left:-500%;
  top:-500%;
}

.m-failtitle,
.m-failtext{
  width:100%;
  position:absolute;
  left:0;
  text-align:center;
  top:7.8rem;



  font-size:0;
}

.m-failtitle{
  line-height:2.6rem;
  font-size:1.4rem;
  color:#ffec1d;
  font-weight:700;
}
.m-failtitle span{
  height:2.6rem;
  font-size:2.2rem;
  vertical-align:top;
  margin:0 .2rem;
}
.m-failtext{
  top:11rem;
  font-size:1rem;
  line-height:1.7rem;
  color:#fff;
  font-weight:700;
}


.cheat{
  background:rgba(0,0,0,0.5);
  width:100%;
  text-align:center;
  line-height:1rem;
  position:absolute;
  left:0;
  top:0;
  color:#fff;
  font-size:.5rem;
}
.tap{
  -webkit-transform:scale(0.95);
}


.m-qrcode{
  background:url(../images/qrcode.png?2) no-repeat;
  width:626px;
  height:494px;
  position:fixed;
  left:50%;
  top:50%;
  margin:-247px 0 0 -313px;
}

.ui-page-pc{
  background:url(../images/pcbody.png);
}