/**
 * 
 * @authors ZHY
 * @date 2015-08-14
 */    

/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, button, textarea, p, blockquote, th, td ,header, section, aside, nav, menu, hgroup, audio, video, figure, figcaption, footer, article{ margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
em { font-style:normal; }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, th, var, optgroup { font-style:inherit; font-weight:inherit; }
del, ins { text-decoration:none; }
li { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%;}
q:before, q:after { content:''; }
abbr, acronym { border:0; font-variant:normal;}
sup { vertical-align:baseline; }
sub { vertical-align:baseline; }
body,input, button, textarea, select {*font-size:100%;outline:none; }
textarea { resize: none; outline:none; }
i,cite{font-style:normal;} 
.clearfix {  zoom:1; }
.clearfix:after { content:""; display:block;clear:both;height: 0;visibility: hidden;}
a {text-decoration:none; }
a:hover{text-decoration:underline}  
a:focus{outline: none;}    
.hide{display:none} .fr{float:right} .fl{float:left;}.block{display: block;}
.bold{font-weight: bold;} .center{text-align:center} .auto{margin-left:auto;margin-right:auto}
.modal{position:absolute;top:50%;left:50%;-webkit-transform: translateX(-50%) translateY(-50%);-moz-transform: translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);}

html{font-size:20px;}
html,body{-webkit-touch-callout:none;}
@media only screen and (max-width: 360px) and (min-width: 321px){ 
    html{font-size: 22.5px} 
} 
@media only screen and (max-width: 375px) and (min-width: 361px){
    html{font-size: 23.4px}
}
@media only screen and (max-width: 390px) and (min-width: 376px){
    html{font-size: 24px;}
}
@media only screen and (max-width: 416px) and (min-width: 391px){/*iphone6 plus*/
    html{font-size: 25.9px;}
}

/**/
a,a:hover,body{color:#333;}
body{font:normal 12px/1.5 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;background-color: #fff;}

body{
  -webkit-backface-visibility:hidden;
  background-color: #000;
}
.bg-body{
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(/view/images/bg.jpg) 50% 100% no-repeat;
  background-size: 100% auto;
  -webkit-filter:blur(15px);

}
.wrapper{
  position: absolute;
  width:100%;
  height: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
header{
  height:6rem;
  font-size: .7rem;
  line-height:3rem;
  color: #fff;
  top:40%;
  padding: 0 .5rem;
  text-align: center;
}
.logo{
  font-size: 2rem;
  text-shadow:0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #7B3B05, 0 0 70px #472A13, 0 0 80px #A05818, 0 0 100px #5C541D, 0 0 150px #8E7742;
}
