	/* reset */
	body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, button, textarea, p, blockquote, th, td ,header, section, aside, nav, menu, hgroup, audio, video, figure, figcaption, footer, article{ margin:0; padding:0; }
	table { border-collapse:collapse; border-spacing:0; }
	em { font-style:normal; }
	fieldset, img { border:0; }
	address, caption, cite, code, dfn, em, th, var, optgroup { font-style:inherit; font-weight:inherit; }
	del, ins { text-decoration:none; }
	li { list-style:none; }
	caption, th { text-align:left; }
	h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
	q:before, q:after { content:''; }
	abbr, acronym { border:0; font-variant:normal;}
	sup { vertical-align:baseline; }
	sub { vertical-align:baseline; }
	legend { color:#000; }
	input, button, textarea, select {*font-size:100%;outline:none }
	textarea {resize: none; outline:none; }
	i,cite{font-style:normal;}
	.clearfix {  zoom:1; }
	.clearfix:after { content:""; display:block;clear:both; }
	a { color:#333;text-decoration:none; }
	a:hover{text-decoration:underline}
	a:focus{outline: none;}


	/**common*/
	.hide{display:none} .fr{float:right} .fl{float:left;}
	.bluelink,.bluelink:hover{color: #45a5e8;}
	.gray, .gray:hover{color: #a6a6a6;}
	.pink, .pink:hover{color:#ff3f6e;}
	.ellipsis {white-space: nowrap;word-wrap: normal;word-break: normal;text-overflow: ellipsis;-o-text-overflow:ellipsis;overflow: hidden}
	.relative{position:relative;}
	.absolute{position:absolute;}
	.fixed{position:fixed}
	.center{text-align:center}
	.auto{margin-left:auto;margin-right:auto;}
	.placeholder{color:#a9a9a9;}
	a,a:hover{text-decoration: none;}
	.white{color: #fff;}
	.un{text-decoration:none; }
	.un:hover{text-decoration: underline;}
	
	.mt10{margin-top:10px;}
	.ml10{margin-left:10px;}
	.pl10{padding-left:10px;}
	.pt10{padding-top:10px;}
	.triangle{width: 0;height: 0;border-width: 4px;border-color: #fff transparent transparent transparent;border-style: solid;display: inline-block;vertical-align: middle;line-height: normal;overflow: hidden;}
	.footer .un{font-size:14px; }
	.vline{padding:0 3px 0 6px;}

	/*struct*/
	html,body{height: 100%;overflow: hidden;}
	body { background-color: #fff;    font:normal 12px/1.5  arial,tahoma,sans-serif;}
	#header{position: fixed;width: 100%;top:0;z-index: 9;left:0;}
	#container{width: 1000px;margin:75px auto;position: relative;}
	
	/*页面代码*/
	.page-wrap{width: 100%;position: relative;height: 100%;}
	.page-side-nav{position: absolute;right: 20px;top: 45%;}
	.page-side-nav-item{display: block;width: 10px;height: 10px;background-color: #000;opacity: 0.5;filter:alpha(opacity=50);margin-top: 6px;border-radius: 5px;box-shadow: 0 0 1px #fff;}
	.page-side-nav-item.current{opacity: 0.9;filter:alpha(opacity=90);}
	.section{background-size: auto 100%;position: relative;text-align: center;font-size: 16px;width: 100%;height: 100%;background-image: url(../images/0.jpg);}
	.sprite{background: url(../images/sprite.png?20141106) 50% 0 no-repeat;}
	.section1{background: url(../images/1.jpg) 50% 100% no-repeat #FDFCFA;}
	.section2{background: url(../images/2.jpg) 50% 100% no-repeat #f4f5f8;}
	.section3{background: url(../images/3.jpg) 50% 100% no-repeat #CDAC9D;}
	.section4{background: url(../images/4.jpg) 50% 100% no-repeat #282828;}
	.section5{background: url(../images/5.jpg) 50% 100% no-repeat #f9f9ff;}



	


     